﻿@model Hennessy.Web.Proto.Models.AromaticViewModels.CreateOrEditModel
@{
    Layout = "_Layout";
    ViewData["Title"] = (Model.model.Id > 0) ? $"Редактирование аромата {Model.model.Name}" : "Добавление аромата";
}

<h2>@ViewData["Title"]</h2>
<hr />
@Html.Partial("_Messages", (Hennessy.Core.Proto.Models.Log)ViewBag.Messages)

<form asp-action="CreateOrEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        @{
            if (Model.model.Id > 0)
            {
                <input asp-for="model.Id" hidden/>
            }
         }

        <div class="form-group">
            <label class="col-xs-2">Название</label>
            <div class="col-xs-10">
                <input class="form-control" asp-for="model.Name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2">Логотип</label>
            <div class="col-xs-10">
                <div class="col-xs-6">
                    @{
                        if (Model.model.Icon != null)
                        {
                            <img class="img-thumbnail" src="@(Url.Action("GetImage", new { id = Model.model.Icon.Id }))" />
                        }
                        else
                        {
                            <p class="text-danger">Изображение отсутствует</p>
                        }
                    }
                </div>
                <div class="col-xs-6">
                    <input class="form-control" asp-for="Icon" accept="image/png" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr />
<a asp-action="Index">Назад к списку</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}