﻿@model Hennessy.Core.Proto.Models.Aromatic
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row detail">
    <div class="row">
        <label class="col-xs-2">
            Название
        </label>
        <div class="col-xs-10">
            @Model.Name
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2">
            Иконка
        </label>
        <div class="col-xs-10">
            <img src="@(Url.Action("GetImage", new { id = Model.Icon.Id }))" class="img-thumbnail detail-logo" />
        </div>
    </div>
</div>
<hr />
<a asp-action="CreateOrEdit" asp-route-id="@Model.Id">Редактировать</a>