﻿@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hennessy</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.css" />
        <link rel="stylesheet" href="~/lib/morrisjs/morris.css" />
        <!-- DataTables CSS -->
        <link href="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
        <!-- DataTables Responsive CSS -->
        <link rel="stylesheet" href="~/lib/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="preloader">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
        <p>Пожалуйста подождите...</p>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Hennessy || LOGO</a>
            </div>
            <div class="nav navbar-top-links navbar-right">
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <div class="nav navbar-top-links navbar-collapse">
                <ul class="nav navbar-nav" id="main-panel">
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Home" asp-action="Index">Рабочий стол</a>
                    </li>
                    <li>
                        <a class="top-main-menu" href="#catalog" data-drop-down="true">Каталог</a>
                    </li>
                    <li>
                        <a class="top-main-menu" href="#setting" data-drop-down="true">Настройки</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Home" asp-action="About">О приложении</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav" id="catalog" style="display:none;">
                    <li>
                        <a class="top-main-menu" href="#main-panel" data-drop-down="true"> << Назад</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Brand" asp-action="Index">Бренды</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Product" asp-action="Index">Напитки</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Recipe" asp-action="Index">Рецепты</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Import" asp-action="Index">Импорт</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Export" asp-action="Index">Экспорт</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav" id="setting" style="display:none;">
                    <li>
                        <a class="top-main-menu" href="#main-panel" data-drop-down="true"> << Назад</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Aromatic" asp-action="Index">Ароматы</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Volume" asp-action="Index">Объёмы</a>
                    </li>
                    <li>
                        <a class="top-main-menu" asp-area="" asp-controller="Home" asp-action="Logs">Логи</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-top-links -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2016 - MST</p>
        </footer>
    </div>
    <environment names="Development,Staging,Production">
        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/metisMenu/dist/metisMenu.js"></script>
        <!-- Morris Charts JavaScript -->
        <!--<script src="~/lib/raphael/raphael.js"></script>
        <script src="~/lib/morrisjs/morris.js"></script>
        <script src="~/lib/startbootstrap-sb-admin-2/dist/js/morris-data.js"></script>-->
        <!-- Custom Theme JavaScript -->
        <script src="~/lib/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            window.delayedFunction['set-main-menu'] = function ()
            {
                window.MainMenu = new Object;
                $('.top-main-menu').each(function () {
                    var item = new TopMainMenuItem(this);
                    window.MainMenu[item.obj.html()] = item;
                });
            }
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
