﻿@model Hennessy.Core.Proto.Models.Log
@{
}

@{ 
    if (Model.Messages.Any())
    {
        <ul>
            @foreach (var item in Model.Messages)
            {
                string className = "";
                switch (item.Type)
                {
                    case Hennessy.Core.Proto.Models.Enum.LogType.Success:
                        className = "text-success";
                        break;

                    case Hennessy.Core.Proto.Models.Enum.LogType.Error:
                        className = "text-danger";
                        break;

                    case Hennessy.Core.Proto.Models.Enum.LogType.Warning:
                        className = "text-warning";
                        break;
                }
                <li><p class="@className">@item.Message</p></li>
            }
        </ul>
    }
}