﻿@{ 
    Type _type = Type.GetType(ViewBag.TPK);
}
@{
    Layout = "_Layout";
    ViewData["Title"] = (Model.model.Id > 0) ? $"Редактирование бренда {Model.model.Name}" : "Добавление бренда";
}


<h2>@ViewData["Title"]</h2>
<hr />
@Html.Partial("_Messages", (List<string>)ViewBag.Messages)


<form asp-action="CreateOrEdit" enctype="multipart/form-data">


        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
</form>
<hr />
<a asp-action="Index">Назад к списку</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        window.delayedFunction['set-form-control'] = function () {
            $('a[data-gallery]').click(function () {
                $('option[data-gallery="' + $(this).attr('data-gallery') + '"]').removeAttr('selected');
                $(this).parent().remove();
            });
        }
    </script>
}