﻿@model Hennessy.Core.Proto.Models.Brand
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row detail">
    <div class="row">
        <label class="col-xs-2">
            Название
        </label>
        <div class="col-xs-10">
            @Model.Name
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2">
            Описание
        </label>
        <div class="col-xs-10">
            @Model.Description
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2">
            Логотип
        </label>
        <div class="col-xs-10">
            @{ 
                var logo = Model.Images.FirstOrDefault(m => m.Type == Hennessy.Core.Proto.Models.Enum.ImageType.BrandLogo);
                if (logo != null)
                {
                    <img src="@(Url.Action("GetImage", new { id = logo.Id }))" class="img-thumbnail detail-logo" />
                }
                else
                {
                    <p class="text-danger">Изображение отсутствует</p>
                }
            }
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2">
            Галерея
        </label>
        <div class="col-xs-10">
            <div class="gallery">
                @{
                    var gallery = Model.Images.Where(m => m.Type == Hennessy.Core.Proto.Models.Enum.ImageType.BrandGallery)?.ToList() ?? new List<Hennessy.Core.Proto.Models.Image>();
                    foreach (var item in gallery)
                    {
                        <div class="col-xs-3">
                            <img src="@(Url.Action("GetImage", new { id = item.Id }))" class="img-thumbnail gallery-item" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<hr />
<a asp-action="CreateOrEdit" asp-route-id="@Model.Id">Редактировать</a>
@section Scripts{
    <script>
        window.delayedFunction['resize-images'] = function ()
        {
            var tempImg = $('.gallery-item');
            getOurHeightMin(tempImg);
            console.log('work it!!');
        }
    </script>
}