﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Бренды";
}
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить бренд</a>
</div>
<hr />

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
        <h2>@ViewBag.TPK</h2>
        <div class="dataTables_wrapper">
            <table class="table table-striped table-bordered table-hover" id="brand-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Логотип</th>
                        <th>Количество продуктов</th>
                        <th>Статус</th>
                        <th>Дата обновления</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить бренд</a>
</div>
@section Scripts{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script>
        window.delayedFunction['set-brand-table'] = function ()
        {
            window.BrandTable = new TableObject('#brand-table');
        }
    </script>
}