﻿@{
    Layout = "_Layout";
    ViewBag.Title = "Some Title";
    ViewData["Title"] = ViewBag.Title;

}

<h2>@ViewBag.Title</h2>
<hr />
<form>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">Текстовое поле</label>
            <div class="col-md-10">
                <input class="form-control" />
                <span class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Поле селект</label>
            <div class="col-md-10">
                <select  class="form-control">
                    <option value="1">Первый</option>
                    <option value="2">второй</option>
                    <option value="3">Третий</option>
                    <option value="4">Четвертый</option>
                </select>
                <span  class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr />
<a asp-action="Index">Назад к списку</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}