﻿@{
    Layout = "";
}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>HTML LETTER</title>

        <style type="text/css">
            @@media only screen and (min-device-width: 601px) {.content {width: 600px !important;}}
		    body[yahoo] .class {}
		    .button {text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;}
		    .button a {color: #ffffff!important; text-decoration: none;}
		    .button a:hover {text-decoration: underline;}

		    @@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {}
		    body[yahoo] .buttonwrapper {background-color: transparent!important;}
		    body[yahoo] .button a {background-color: #323232; padding: 15px 15px 13px!important; display: block!important;}
        </style>
    </head>

    <body yahoo bgcolor="#f6f8f1" style="margin: 0; padding: 0; min-width: 100%; background-color: #f6f8f1;">
        <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px;">
            <tr>
                <td bgcolor="#323232" style="padding: 40px 30px 20px 30px;">
                    <table width="95" align="left" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="70" style="padding: 0 20px 20px 0;">
                                <p style="color:#f6f8f1">Hennessy || Logo</p>
                            </td>
                        </tr>
                    </table>
                    <table class="col425" align="left" border="0" cellpadding="0" style="width: 100%; max-width: 400px;">
                        <tr>
                            <td height="70">
                                <table width="100%" border="0" cellspacing="0">
                                    <tr>
                                        <td style="padding: 0 0 0 3px; font-size: 20px; color: #f6f8f1; font-family: sans-serif; letter-spacing: 5px; font-weight: bold;">
                                            SUBHEADER
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h1" style="padding: 5px 0 0 0; font-size: 33px; line-height: 38px; font-weight: bold; color: #f6f8f1; font-family: sans-serif;">
                                            HEADER
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" bgcolor="#f6f8f1" style="width: 100%; max-width: 600px; padding: 30px 30px 30px 30px; border-bottom: 1px solid #f2eeed;">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="color: #153643; font-family: sans-serif; padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;">
                                Dear Mr.  !
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
                                <p>Lorem ipsum dolor sit amet, est dico eleifend ei, mea ne velit referrentur necessitatibus. Novum sonet eum no, mel eu fastidii abhorreant. Qui ex periculis appellantur, ne amet invenire voluptatum has, et repudiare definitionem mel. At alterum postulant dissentias eam. Est ubique legere tamquam ei, rebum semper qualisque vel ad.</p>
                                <table class="buttonwrapper" bgcolor="#e05443" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="button" height="45" style="text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;">
                                            <a style="color: #f6f8f1; text-decoration: none;" href="http:/site.com">Click ME!!!</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 30px 30px 30px 30px;">
                                <img src="https://pp.vk.me/c7003/v7003438/2c576/akChBYNRe7U.jpg" width="100%" border="0" style="height: auto;" alt="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
                                <p>
                                    Best regards, <br />
                                    <strong>Boss</strong>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer" bgcolor="#323232" style="padding: 20px 30px 15px 30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center" style="font-family: sans-serif; font-size: 14px; color: #ffffff;">
                                &reg;All rights reserved<br />
                                <a href="www.site.com.ua" style="color: #ffffff; text-decoration: underline;">www.site.com.ua</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 20px 0 0 0;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                            <a href="LINK_TO_FB">
                                                <img src="http://web-first-step.ru/images/fb1.png" width="37" height="37" alt="Facebook" border="0" />
                                            </a>
                                        </td>
                                        <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                            <a href="LINK_TO_VK">
                                                <img src="http://web-first-step.ru/images/vk1.png" width="37" height="37" alt="VK" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>