﻿@{
    ViewData["Title"] = "Home Page";
}


<style>
    .list-group-item 
    {
        border-radius: 0px !important;
        border: 2px solid #323232;
        
    }
    .list-group-item a 
    {
        color: #323232 !important;
    }
</style>

<div id="dashboard">
    <ul class="list-group">
        <li class="list-group-item col-xs-3 main-menu">
            <a asp-controller="Brand" asp-action="Index">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><h3>Бренды</h3></div>
                        <div>some text</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="list-group-item col-xs-3 main-menu">
            <a asp-action="List">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><h3>Напитки</h3></div>
                        <div>some text</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="list-group-item col-xs-3 main-menu">
            <a asp-controller="Recipe">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><h3>Рецепты</h3></div>
                        <div>some text</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="list-group-item col-xs-3 main-menu">
            <a asp-action="About">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><h3>О приложении</h3></div>
                        <div>some text</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="list-group-item col-xs-3 main-menu">
            <a asp-action="List">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><h3>Контакты</h3></div>
                        <div>some text</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

@section Scripts{
    <script>
        window.delayedFunction['set-panel'] = function ()
        {
            /*var liMenu = new Object();
            liMenu["main-menu"] = $(".main-menu");
            console.log(liMenu["main-menu"]);
            getOurHeightMax(liMenu["main-menu"]);*/
        }
    </script>
}