﻿@{
    Layout = "_Layout";
}
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить модель</a>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                SOME TITLE
            </div>
            <div class="dataTables_wrapper">
                <table class="table table-striped table-bordered table-hover" id="list-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Какая-то колонка_1</th>
                            <th>Какая-то колонка_2</th>
                            <th>Статус</th>
                            <th>Дата обновления</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>NAME_1</td>
                            <td>SOME_COLUMN_1_1</td>
                            <td>SOME_COLUMN_2_1</td>
                            <td>NORMAL</td>
                            <td>@DateTime.Now</td>
                            <td class="actions">
                                <a class="btn btn-default col-xs-4" asp-action="Edit">Редактировать</a>
                                <a class="btn btn-default delete col-xs-4" asp-action="Delete">Удалить</a>
                                <a class="btn btn-default col-xs-4" asp-action="Detail">Подробнее</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NAME_1</td>
                            <td>SOME_COLUMN_1_1</td>
                            <td>SOME_COLUMN_2_1</td>
                            <td>NORMAL</td>
                            <td>@DateTime.Now</td>
                            <td class="actions">
                                <a class="btn btn-default col-xs-4" asp-action="Edit">Редактировать</a>
                                <a class="btn btn-default delete col-xs-4" asp-action="Delete">Удалить</a>
                                <a class="btn btn-default col-xs-4" asp-action="Detail">Подробнее</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NAME_1</td>
                            <td>SOME_COLUMN_1_1</td>
                            <td>SOME_COLUMN_2_1</td>
                            <td>NORMAL</td>
                            <td>@DateTime.Now</td>
                            <td class="actions">
                                <a class="btn btn-default col-xs-4" asp-action="Edit">Редактировать</a>
                                <a class="btn btn-default delete col-xs-4" asp-action="Delete">Удалить</a>
                                <a class="btn btn-default col-xs-4" asp-action="Detail">Подробнее</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NAME_1</td>
                            <td>SOME_COLUMN_1_1</td>
                            <td>SOME_COLUMN_2_1</td>
                            <td>NORMAL</td>
                            <td>@DateTime.Now</td>
                            <td class="actions">
                                <a class="btn btn-default col-xs-4" asp-action="Edit">Редактировать</a>
                                <a class="btn btn-default delete col-xs-4" asp-action="Delete">Удалить</a>
                                <a class="btn btn-default col-xs-4" asp-action="Detail">Подробнее</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить модель</a>
</div>
@section Scripts{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script>
        $("#list-table").DataTable({
            stateSave: true,
            responsive: true,
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable:": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
        });

        console.log("table ready");

        $('.delete').click(function () {
            if (!confirm("Вы действительно хотите удалить элемент?")) {
                return false;
            }
            var dataPost = $(this).attr('data-post');
            var url = $(this).attr('href');
            var token = $('input[name="__RequestVerificationToken"]').val();
            var data =
            {
                id: dataPost,
                __RequestVerificationToken: token
            };
            $.post(url, data, function () {
                window.location.reload();
            });
            return false;
        });
    </script>
}