﻿@model IEnumerable<Hennessy.Core.Proto.Models.Log>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Логи";
}


<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
        <h2>@ViewBag.TPK</h2>
        <div class="dataTables_wrapper">
            <table class="table table-striped table-bordered table-hover" id="log-table">
                <thead>
                    <tr>
                        <th class="col-xs-2">ID операции</th>
                        <th class="col-xs-8">Сообщения</th>
                        <th class="col-xs-2">Дата записи</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    @{
                                        foreach (var message in item.Messages)
                                        {
                                            string className = "";
                                            switch (message.Type)
                                            {
                                                case Hennessy.Core.Proto.Models.Enum.LogType.Success:
                                                    className = "text-success";
                                                    break;

                                                case Hennessy.Core.Proto.Models.Enum.LogType.Error:
                                                    className = "text-danger";
                                                    break;

                                                case Hennessy.Core.Proto.Models.Enum.LogType.Warning:
                                                    className = "text-warning";
                                                    break;
                                            }

                                            <p class="@className">@message.Message</p>
                                        }
                                    }
                                </td>
                                <td>@item.CreateFrom</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
@section Scripts{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script>
        window.delayedFunction['set-log-table'] = function ()
        {
            window.BrandTable = new TableObject('#log-table');
        }
    </script>
}