﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Импорт";
}
<h2>@ViewData["Title"]</h2>
<hr />
<form enctype="multipart/form-data" asp-action="Result">
    <div class="form-group">
        <label class="col-xs-2">Загрузить файл</label>
        <div class="col-xs-10">
            <input class="form-control" name="UploadFile" type="file"/>
        </div>
    </div>

    <div class="form-group">
        <input class="form-control"  type="submit" value="Отправить"/>
    </div>
</form>