﻿@model IEnumerable<Hennessy.Core.Proto.Models.Log>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Результат импорта";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="panel-group" id="accordion">
    @{
        foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.Id">Операция №@item.Id</a>
                    </h4>
                </div>
            </div>

            <div id="collapse_@item.Id" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_Messages", item)
                </div>
            </div>
        }
    }
</div>
