﻿@model Hennessy.Web.Proto.Models.RecipeViewModels.CreateOrEditModel
@{
    Layout = "_Layout";
    ViewData["Title"] = (Model.model.Id > 0) ? $"Редактирование рецепта {Model.model.Name}" : "Добавление рецепта";
}

<h2>@ViewData["Title"]</h2>
<hr />
@Html.Partial("_Messages", (Hennessy.Core.Proto.Models.Log)ViewBag.Messages)


<form asp-action="CreateOrEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        @{
            if (Model.model.Id > 0)
            {
                <input asp-for="model.Id" hidden/>
            }
         }

        <div class="form-group">
            <label class="col-xs-2">Название</label>
            <div class="col-xs-10">
                <input class="form-control" asp-for="model.Name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2">Описание</label>
            <div class="col-xs-10">
                <textarea class="form-control" asp-for="model.Description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2">Инструкция по приготовлению</label>
            <div class="col-xs-10">
                <textarea class="form-control" asp-for="model.Direction"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2">Основное изображение</label>
            <div class="col-xs-10">
                <div class="col-xs-6">
                    @{
                        var logo = Model.model?.Images?.FirstOrDefault(m => m.Type == Hennessy.Core.Proto.Models.Enum.ImageType.RecipeLogo);
                        if (logo != null)
                        {
                            <img class="img-thumbnail" src="@(Url.Action("GetImage", new { id = logo.Id }))" />
                        }
                        else
                        {
                            <p class="text-danger">Изображение отсутствует</p>
                        }
                    }
                </div>
                <div class="col-xs-6">
                    <input class="form-control" asp-for="Logo" accept="image/png" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2">Галерея</label>
            <div class="col-xs-10">
                <select asp-for="CurGellery" hidden>
                    @{ 
                        foreach (var item in Model.CurGellery)
                        {
                            <option data-gallery="Galley-@item" value="@item"  selected="selected">@item</option>
                        }
                    }
                </select>
                <ul class="list-item-group">
                    @{
                        foreach (var item in Model.CurGellery)
                        {
                            <li class="list-item col-xs-2">
                                @{
                                    <img class="img-thumbnail" src="@(Url.Action("GetImage", new { id = item}))" />
                                }
                                <hr />
                                <a data-gallery="Galley-@item">Удалить изображение</a>
                            </li>
                        }
                        <li class="list-item">
                            <input asp-for="NewGallery" class="form-control"/>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr />
<a asp-action="Index">Назад к списку</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        window.delayedFunction['set-form-control'] = function ()
        {
            $('a[data-gallery]').click(function () {
                $('option[data-gallery="' + $(this).attr('data-gallery') + '"]').removeAttr('selected');
                $(this).parent().remove();
            });
        }
    </script>
}