﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Экспорт";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row btn-group">
    <a class="btn btn-default" asp-action="All">Весь каталог</a>
    <a class="btn btn-default" asp-action="Products">Продукты</a>
    <a class="btn btn-default" asp-action="Recipes">Рецепты</a>
</div>
<!--
    По хорошему нужно сделать ajax запрос на файл, чтобы не было редиректа.
    + сделать лог того что экспортировалось
    -->