﻿@model Hennessy.Web.Proto.Models.ProductViewModels.CreateOrEditModel
@{
    Layout = "_Layout";
    ViewData["Title"] = (Model.model.Id > 0) ? $"Редактирование продукта {Model.model.Name}" : "Добавление продукта";
}

<h2>@ViewData["Title"]</h2>
<hr />
@Html.Partial("_Messages", (Hennessy.Core.Proto.Models.Log)ViewBag.Messages)


<form asp-action="CreateOrEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        @{
            if (Model.model.Id > 0)
            {
                <input asp-for="model.Id" hidden/>
            }
         }

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#main" data-toggle="tab" aria-expanded="true"><label>Основное</label></a>
            </li>
            <li class="">
                <a href="#images" data-toggle="tab" aria-expanded="false"><label>Изображения</label></a>
            </li>
            <li class="">
                <a href="#properties" data-toggle="tab" aria-expanded="false"><label>Свойства</label></a>
            </li>
            <li class="">
                <a href="#recipes" data-toggle="tab" aria-expanded="false"><label>Рецепты</label></a>
            </li>
        </ul>
        <br />
        <div class="tab-content">
            <div class="tab-pane fade active in" id="main">

                <div class="form-group">
                    <label class="col-xs-2">Название</label>
                    <div class="col-xs-10">
                        <input class="form-control" asp-for="model.Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Бренд</label>
                    <div class="col-xs-10">
                        <select asp-for="model.BrandId" class="form-control">
                            @{
                                foreach (var item in Model.PosibleBrand)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Описание</label>
                    <div class="col-xs-10">
                        <textarea class="form-control" asp-for="model.Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Объемы</label>
                    <div class="col-xs-10">
                        <select asp-for="Volumes" hidden>
                            @{
                                foreach (var item in Model.PosibleVolume)
                                {
                                    <option value="@item.Id" data-href="volume-@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        <ul class="list-group">
                            @{
                                foreach (var item in Model.PosibleVolume)
                                {
                                    <li class="list-group-item col-xs-2 select-item" data-href="volume-@item.Id">@item.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Ароматические свойства</label>
                    <div class="col-xs-10">
                        <select asp-for="Aromatics" hidden>
                            @{
                                foreach (var item in Model.PosibleAromatic)
                                {
                                    <option value="@item.Id" data-href="aromatic-@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        <ul class="list-group">
                            @{
                                foreach (var item in Model.PosibleAromatic)
                                {
                                    <li class="list-group-item col-xs-2 select-item" data-href="aromatic-@item.Id"> <img class="img-thumbnail" style="max-height:50px" src="@(Url.Action("GetImage", new { id = item.Icon.Id}))" /> @item.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Теги</label>
                    <div class="col-xs-10">
                        <input  id="Tags_input" class="form-control" type="text" list="posible_Tags"/>
                        <br />
                        <datalist id="posible_Tags">
                            @{ 
                                foreach (var item in Model.PosibleTags)
                                {
                                    <option value="@item.Name"></option>
                                }
                            }
                        </datalist>
                        <div class="tags-control">
                            @{
                                int indexTag = 0;
                                foreach (var item in Model.Tags)
                                {
                                    <div class="tag-container col-xs-1" id="tag_@indexTag">
                                        <span>@item</span>
                                        <span data-href="tag_@indexTag">×</span>
                                        <input asp-for="Tags[indexTag]" hidden />
                                    </div>
                                    indexTag++;
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="images">

                <div class="form-group">
                    <label class="col-xs-2">Основное изображение</label>
                    <div class="col-xs-10">
                        <div class="col-xs-3">
                            @{
                                var logo = Model.model?.Images?.FirstOrDefault(m => m.Type == Hennessy.Core.Proto.Models.Enum.ImageType.ProductLogo);
                                if (logo != null)
                                {
                                    <img class="img-thumbnail" src="@(Url.Action("GetImage", new { id = logo.Id }))" />
                                }
                                else
                                {
                                    <p class="text-danger">Изображение отсутствует</p>
                                }
                            }
                        </div>
                        <div class="col-xs-9">
                            <input class="form-control" asp-for="Logo" accept="image/png" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Галерея</label>
                    <div class="col-xs-10">
                        <select asp-for="CurGellery" hidden>
                            @{
                                foreach (var item in Model.CurGellery)
                                {
                                    <option data-gallery="Galley-@item" value="@item" selected="selected">@item</option>
                                }
                            }
                        </select>
                        <ul class="list-group">
                            @{
                                foreach (var item in Model.CurGellery)
                                {
                                    <li class="list-group-item col-xs-2 image-select">
                                        @{
                                            <img class="img-thumbnail" src="@(Url.Action("GetImage", new { id = item}))" />
                                        }
                                        <hr />
                                        <a data-gallery="Galley-@item">Удалить изображение</a>
                                    </li>
                                }
                                <li class="list-item">
                                    <input asp-for="NewGallery" class="form-control" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="properties">

                <div class="form-group">
                    <label class="col-xs-2">Свойства</label>
                    <div class="col-xs-10">
                        <ul class="list-group">
                            @{
                                int index = 0;
                                foreach (var item in Model.Properties)
                                {
                                    <li class="list-group-item col-xs-3 dinamic-item" id="property_@index">
                                        <span class="delete-property" data-href="property_@index">×</span>
                                        <input asp-for="Properties[index].Name" class="form-control" placeholder="Название свойства" />
                                        <hr />
                                        <input asp-for="Properties[index].Value" class="form-control" placeholder="Значение свойства" />
                                    </li>
                                }
                                <li class="list-group-item col-xs-2">
                                    <input type="button" class="btn btn-default add-property" value="Добавить свойство" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="recipes">
                <div class="form-group">
                    <label class="col-xs-2">Рецепты</label>
                    <div class="col-xs-10">
                        <select asp-for="Recipes" hidden>
                            @{
                                foreach (var item in Model.PosibleRecipes)
                                {
                                    <option value="@item.Id" data-href="recipe-@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        <ul class="list-group">
                            @{
                                foreach (var item in Model.PosibleRecipes)
                                {
                                    <li class="list-group-item col-xs-2 select-item recipe-select text-center" data-href="recipe-@item.Id">
                                        <img class="img-thumbnail" src="@(Url.Action("GetImage", new { id = item.Images?.FirstOrDefault(m => m.Type == Hennessy.Core.Proto.Models.Enum.ImageType.RecipeLogo)?.Id ?? -1 }))"/>
                                        <hr />
                                        <p>@item.Name</p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr />
<a asp-action="Index">Назад к списку</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        window.PropertiesCount = @Model.Properties.Count();
        window.TagsCount = @Model.Tags.Count();

        function RecalculatePropertyNamesAndIds(number) {
            var prevNumber = number - 1;
            $("#property_" + number).attr("id", "property_" + prevNumber);
            $('span[data-href="property_'+ number +'"]').attr('data-href', 'property_' + prevNumber);
            $("#Properties_" + number + "__Name").attr("id", "Properties_" + prevNumber + "__Name").attr("name", "Properties[" + prevNumber + "].Name");
            $("#Properties_" + number + "__Value").attr("id", "Properties_" + prevNumber + "__Value").attr("name", "Properties[" + prevNumber + "].Value");
        }

        function RecalculateTagsNamesAndIds(number)
        {
            var prevNumber = number - 1;
            $('#tag_' + number).attr('id', 'tag_' + prevNumber);
            $('span[data-href="tag_'+ number +'"]').attr('data-href', 'tag_' + prevNumber);
            $('#Tags_' + number + '_').attr('id', 'Tags_' + prevNumber + '_').attr('name', 'Tags[' + prevNumber + ']');
        }

        function RemovePropertyDinamicItem(el)
        {
            var self = $(el);
            var RecalculateStartNum = parseInt(self.attr('id').substring('property_'.length));
            self.remove();
            for (var i = RecalculateStartNum+1; i < window.PropertiesCount; i++)
            {
                RecalculatePropertyNamesAndIds(i);
            }
            window.PropertiesCount--;
        }

        function RemoveTagsDinamicItem(el)
        {
            var self = $(el);
            var RecalculateStartNum = parseInt(self.attr('id').substring('tag_'.length));
            self.remove();
            for (var i = RecalculateStartNum+1; i < window.TagsCount; i++)
            {
                RecalculateTagsNamesAndIds(i);
            }
            window.TagsCount--;
            console.log(window.TagsCount);
        }

        function GetAllPropertyDinamicItems()
        {
            window.FormPropertyDinamicItems = [];
            $('.dinamic-item').each(function()
            {
                var temp = new DinamicItem(this);
                temp.Init(RemovePropertyDinamicItem);
                window.FormPropertyDinamicItems.push(temp);
            });
        }

        function GetAllTagsDinamicItems()
        {
            window.FormTagDinamicItems = [];
            $('.tag-container').each(function()
            {
                var temp = new DinamicItem(this);
                temp.Init(RemoveTagsDinamicItem);
                window.FormTagDinamicItems.push(temp);
            });
        }

        window.delayedFunction['set-form-control'] = function () {
            $('a[data-gallery]').click(function () {
                $('option[data-gallery="' + $(this).attr('data-gallery') + '"]').removeAttr('selected');
                $(this).parent().remove();
            });
        }

        window.delayedFunction['set-select-items'] = function ()
        {
            window.FormSelectItems = [];
            $('.select-item').each(function () {
                var temp = new SelectItem(this);
                window.FormSelectItems.push(temp);
            });

            FormToggle('a[href="#images"]', '.image-select');
            FormToggle('a[href="#recipes"]', '.recipe-select');
        }

        window.delayedFunction['set-property-dinamic-items'] = function ()
        {
            GetAllPropertyDinamicItems();
            $('.add-property').click(function()
            {
                var self = $(this);
                $.ajax({
                    url: "/Product/GetPropertyForm",
                    type: "POST",
                    cache: false,
                    data:{
                        index : window.PropertiesCount
                    },
                    success: function(html){
                        self.parent().before(html);
                        GetAllPropertyDinamicItems();
                        window.PropertiesCount++;
                    },
                    error: function(message){
                        console.log(message.responseText);
                    }
                });
            });
        }

        window.delayedFunction['set-tags-dinamic-items'] = function()
        {
            GetAllTagsDinamicItems();
            $('#Tags_input').change(function()
            {
                var self = $(this);
                var tagValue = self.val();

                var tagInput = $('<input hidden/>')
                    .attr('id', 'Tags_' + window.TagsCount + '_')
                    .attr('type', 'text').val(tagValue)
                    .attr('name', 'Tags[' + window.TagsCount + ']');

                var tagContainer = $('<div></div>')
                    .attr('id', 'tag_' + window.TagsCount)
                    .addClass('tag-container').addClass('col-xs-1')
                    .html('<span>' + tagValue + '</span><span data-href="tag_' + window.TagsCount + '">×</span>')
                    .append(tagInput);

                $('.tags-control').append(tagContainer);
                self.val('');
                window.TagsCount++;
                console.log(window.TagsCount);
                GetAllTagsDinamicItems();
            });;
        }

    </script>
}