﻿@model Hennessy.Web.Proto.Models.ProductViewModels.CreateOrEditModel
@{
    Layout = "";
    int index = ViewBag.Index;
    Layout = "";
    Model.Properties = new List<Hennessy.Core.Proto.Models.Property>();
    for (int i = 0; i < (index + 1); i++)
    {
        Model.Properties.Add(new Hennessy.Core.Proto.Models.Property());
    }
}

<li class="list-group-item col-xs-3 dinamic-item" id="property_@index">
    <span class="delete-property" data-href="property_@index">×</span>
    <input asp-for="Properties[index].Name" class="form-control" placeholder="Название свойства" />
    <hr />
    <input asp-for="Properties[index].Value" class="form-control" placeholder="Значение свойства" />
</li>