﻿@model IEnumerable<Hennessy.Core.Proto.Models.Product>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Продукты";

}
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить продукт</a>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
        <div class="dataTables_wrapper">
            <table class="table table-striped table-bordered table-hover" id="product-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Бренд</th>
                        <th>Статус</th>
                        <th>Дата обновления</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Brand.Name</td>
                                <td>@item.Status</td>
                                <td>@item.LastUpdate</td>
                                <td>
                                    <a asp-action="Delete" data-itemid="@item.Id" class="delete">Удалить</a> |
                                    <a asp-action="CreateOrEdit" asp-route-id="@item.Id">Редактировать</a> |
                                    <a asp-action="Detail" asp-route-id="@item.Id">Просмотреть</a>
                                </td>
                            </tr>
                        }
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить продукт</a>
</div>
@section Scripts{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script>
        window.delayedFunction['set-product-table'] = function ()
        {
            window.ProductTable = new TableObject('#product-table');
        }
    </script>
}