﻿@model Hennessy.Web.Proto.Models.BaseCreateOrEditModel<Hennessy.Core.Proto.Models.Volume, int>
@{
    Layout = "_Layout";
    ViewData["Title"] = (Model.model.Id > 0) ? $"Редактирование объёма {Model.model.Name}" : "Добавление объёма";
}


<h2>@ViewData["Title"]</h2>
<hr />
@Html.Partial("_Messages", (Hennessy.Core.Proto.Models.Log)ViewBag.Messages)


<form asp-action="CreateOrEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        @{
            if (Model.model.Id > 0)
            {
                <input asp-for="model.Id" hidden />
            }
        }

        <div class="form-group">
            <label class="col-xs-2">Название</label>
            <div class="col-xs-10">
                <input class="form-control" asp-for="model.Name" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr />
<a asp-action="Index">Назад к списку</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        window.delayedFunction['set-form-control'] = function () {
            $('a[data-gallery]').click(function () {
                $('option[data-gallery="' + $(this).attr('data-gallery') + '"]').removeAttr('selected');
                $(this).parent().remove();
            });
        }
    </script>
}