﻿@model Hennessy.Core.Proto.Models.Volume
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row detail">
    <div class="row">
        <label class="col-xs-2">
            Название
        </label>
        <div class="col-xs-10">
            @Model.Name
        </div>
    </div>
</div>
<hr />
<a asp-action="CreateOrEdit" asp-route-id="@Model.Id">Редактировать</a>
@section Scripts{
    <script>
        window.delayedFunction['resize-images'] = function ()
        {
            var tempImg = $('.gallery-item');
            getOurHeightMin(tempImg);
            console.log('work it!!');
        }
    </script>
}