﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

body 
{
    background-color: #323232  !important;
    color: #323232  !important;
}

#page-wrapper 
{
    margin : 0!important ;
    background: none !important;
}

.navbar-default 
{
    background: #323232 !important;
    border: none !important;
}

.navbar-default .navbar-nav > li > a 
{
    color: #ffffff !important;
    font-family: monospace !important;
    font-size: 16px !important;
}

.navbar-default .navbar-nav > li > a:hover 
{
    color: #323232  !important;
}

.navbar-default .navbar-nav > li:hover 
{
    background-color: #fff !important;
}

.navbar-default .navbar-brand 
{
    color: #ffffff !important;
}

.navbar-right 
{
    margin-right : 0px !important;
}

.panel-default 
{
    border: none !important;
    border-radius: 0px !important;
}

.panel-default > .panel-heading {
    color: #323232  !important;
    font-family: monospace !important;
    background-color: #fff !important;
    border-color: #323232  !important;
}

.dataTable 
{
    border: none !important;
    margin: 0px !important;
}

.dataTable > tr > td, table .table > tr > th
{
    border: 1px solid #323232  !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    padding-left: 18px !important;
    padding-right: 18px !important;
    border: 1px solid #323232  !important;
}

.btn-default {
    color: #323232  !important;
    font-family: monospace !important;
    background-color: #fff !important;
    border-color: #323232  !important;
    border-radius: 0px !important;
    line-height: 2.5 !important;
}

.btn-default:hover
{
    background-color: #323232  !important;
    color: #fff !important;
    border-color: #fff !important;

}

.table > tbody > tr > .actions 
{
    padding: 0px !important;
}

.table > tbody > tr > .actions > a
{
    padding: 0px !important;
}

h1, h2, h3, h4, form label, label, a, a:focus, a:hover, .detail
{
    color: #fff !important;
}

.form-control 
{
    border-radius: 0px !important;
}

.main-menu h1, .main-menu h2, .main-menu h3, .main-menu h4 
{
    color: #323232 !important;
} 

.preloader {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
  background-color: white;
}

.preloader p {
	position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: 100px;
    font-size: 18px;
}

.preloader .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
    left: 50%;
    margin-left: -37px;
    top: 50%;
    margin-top: -37px;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.preloader .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.preloader #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.preloader #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.preloader #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.preloader #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.preloader #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

.dataTables_wrapper 
{
    background-color: #fff !important;
    padding: 5px;
}

.dataTables_wrapper h1, .dataTables_wrapper h2, .dataTables_wrapper h3, .dataTables_wrapper h4, .dataTables_wrapper a, .dataTables_wrapper a:focus, .dataTables_wrapper a:hover
{
    color: #323232 !important;
}

.list-group-item {
    padding: 15px;
    border: none;
}

.list-group-item-success {
    position: relative;
    display: block;
    padding: 15px;
}

.list-group-item[id*=property_]
{
    margin: 0px 5px 5px 0px;
}

.list-group-item > img:first-child > img, .list-group-item-success > img:first-child
{
    max-height : 65%;
}

.detail-logo 
{
    max-height:250px;
}

.detail > .row 
{
    margin-top: 15px !important;
}

.tag-container 
{
    background-color : #fff;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    cursor: default;
    padding: 5px;
    margin: -1px 5px 5px 0;
    width: inherit;
}

    .tag-container span[data-href], .delete-property
    {
        font-family: Arial;
        display: inline-block;
        line-height: 100%;
        font-size: 1.1em;
        line-height: 1.49em;
        margin-left: 5px;
        float: right;
        height: 100%;
        vertical-align: top;
        padding-right: 4px;
        cursor: pointer;
    }

    .tag-container span[data-href]:focus, .delete-property:focus
    {
        color: #000;
        text-decoration: none;
        opacity: .5;
    }

.tags-control 
{
    max-width: 100%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #555;
}




